<template name="form">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<form class="word_of_day">
					<div class="page 1 view">
						<h1>Preparation for Wednesday's Celebration</h1>
						<p>Enter the word and fill out the fields as you go.</p>
						<input type="text" name="word" placeholder="Word of the day" />
					</div>
					<div class="page 2">
						{{> historic}}
					</div>
					<div class="page 3">
						{{> prophets}}
					</div>
					<div class="page 4">
						{{> letters}}
					</div>
					<div class="page 5">
						{{> gospels}}
						<div class="pull-down">
							<span>Would you like to send this to yourself? (not required)</span>
							<input type="text" name="user_email" placeholder="Your Email" />
						</div>
						<button type="submit">Submit</button>
					</div>
					
				</form>
				<ul>
				  <li><a href="#" class="pagination" page-item="1">1</a></li>
				  <li><a href="#" class="pagination" page-item="2">2</a></li>
				  <li><a href="#" class="pagination" page-item="3">3</a></li>
				  <li><a href="#" class="pagination" page-item="4">4</a></li>
				  <li><a href="#" class="pagination" page-item="5">5</a></li>
				</ul>
			</div>
		</div>
	</div>
	
	<script>
		var page = $('.page');
		page.first().addClass('active');
		var pageLength = page.length;
		//console.log(pageLength);

		var pageActive = page.hasClass('active');
		var finalStep = $('.page.5').hasClass('final');


		if( page === '5' && finalStep === true){//if page has active and it's the final show submit button
			//console.log('yeah boi');
		}
		console.log(finalStep);
		$('.pagination').click(function(event){	
		  var triggerBtn = $(this).attr('page-item'),//gets value
		  current = page.hasClass('active');//true
		  
		  event.preventDefault();
		  page.removeClass('active');
		  if(current === true){
		  	$('.page.' + triggerBtn).addClass('active');
		  }else{
		  	//console.log('does not have the class active');
		  }
		});
		//Next step add animation to the screens
	</script>
</template>